/* h1 {
    color: blue;
} */

/* (#) untuk id; (.) untuk class */
h1 {
    font-weight: 700;
    text-decoration: underline;
}
p {
    font-size: 15px;
    background-color: beige;
}
span {
    color: brown;
}

.container {
    width: 400px;
    height: auto;
    box-shadow: 10px 13px 0 -1px rgba(0, 0, 0, 0.67); 
}
#judul1 {
    font-weight: 800;
    color: blueviolet;
    text-decoration: underline;
}
#judul2 {
    font-weight: 800;
    color: royalblue;
}
.content {
    background-color: azure;
}

#head1, #head2 {
    color: aquamarine;
}
.container2 .content {
    background-color: cornsilk;
    color: blue;
}
.container2 p {
    color: brown;
}

.box {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
}
.box a {
    color: brown;
}
/* .box a:hover {
    color: aqua;
}
.box:hover {
    background-color: blue;
} */
.box:hover > a {
    color: blue;
}